body {
  background-image: url(images/background2.jpeg);
  
}
h4{
  color: rgb(73, 73, 179);
  font-size: 20px;
}
h5{
  color: rgb(73, 73, 179);
  font-size: 20px;
}
/*  image containers  */
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }